<!-- Loop over each object in the projects array -->
{{#if blogs.length}}
{{#each blogs as |blog| }}
<div>
    <div class="blog-title-wrap">
        {{!-- <a href="/api/dashboard/{{blog.id}}"> --}}
            <a href="/dashboard/{{blog.id}}">
                <h2>
                    {{blog.title}}
                </h2>
            </a>
            <p> {{format_date blog.date_created}}</p>

    </div>
</div>
{{/each}}
{{/if}}

<div>
    <a href="/create">Create New Blog</a>
</div>