<div class="dashboardpPage-wrap">
    {{#if blogs.length}}
    {{#each blogs as |blog| }}
    <div class="card-wrap">

        <div class="card">
            <div class="card-header">
                <h3><a href="/dashboard/{{blog.id}}">{{blog.title}}</a></h3>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">

                    <footer class="blockquote-footer">{{format_date blog.date_created}}
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}

    <div class="create-btn-wrap">
        <a href="/create">> Create New Blog</a>
    </div>
</div>