<div class="page-wrap">
    <div class="title-wrap">
        <h2>Signup</h2>
    </div>
    <form class="form signup-form">
        <div class="form-group">
            <label for="name-signup">Name:</label>
            <input class="form-input form-control" type="text" id="name-signup" />
        </div>
        <div class="form-group">
            <label for="email-signup">Email:</label>
            <input class="form-input form-control" type="text" id="email-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup">Password:</label>
            <input class="form-input form-control" type="password" id="password-signup" />
        </div>
        <div class="form-group submit-btn-wrap">
            <button class="btn btn-danger signup-btn" type="submit">Signup</button>
        </div>
    </form>

</div>

<script src="./js/signup.js"></script>